<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>skeleton</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1>SKELETONIAN</h1>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>copyright 2014 kbuu</small></p>
  </footer>
</body>
</html>